@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color:burlywood
}

.h3{
    display:inline-block;
    margin-left:75px;
    margin-right:15px;
    height: 0.1em;
    
}
.title{
   text-align: center;
}
body{
    background:var(--primary-color);
    margin: 0;
    padding: 0;
}
.container{
    background:#fff;
    max-width:500px;
    margin:auto; /*centralizou o container*/
    border-radius: 10px;
}

.boxes{
    border-radius: 5px;
}